{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
    <!-- nav -->
    {% include 'nav.html' %}
    <!-- end nav -->

    <!-- box-intro -->
    <section class="box-intro">
        <div class="table-cell">
            <h1 class="box-headline letters rotate-2">
                <span class="box-words-wrapper">
                    <b class="is-visible">{{country_name}} </b>
                    <b>&nbsp;Box Office.</b>
                    <b>&nbsp;Movie</b>
                </span>
            </h1>
            <h5>everything you watch blah balh blah</h5>
        </div>

        <div class="mouse">
            <div class="scroll"></div>
        </div>
    </section>
    <!-- end box-intro -->
</div>

<!-- portfolio div -->
<div class="portfolio-div" style='background-color: #151313'>
    <div class="portfolio">
        <div class="no-padding portfolio_container">
            <!-- No.3 -->
            <div class="col-md-3 col-sm-6 fashion logo">
                <a href="{% url 'movies:country_detail' country=country rank=movies.2.rank %}" class="portfolio_item">
                    <img style='width: 100%;' src="{{movies.2.poster}}" alt="image" class="img-responsive" />
                    <div class="portfolio_item_hover">
                        <div class="portfolio-border clearfix">
                            <div class="item_info">
                                <span>{{movies.2.title}}</span>
                                <em>{{movies.2.released}}</em>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end No.3 -->

            <!-- No.4 -->
            <div class="col-md-3 col-sm-6 ads graphics">
                <a href="{% url 'movies:country_detail' country=country rank=movies.3.rank %}" class="portfolio_item">
                    <img style='width: 100%;' src="{{movies.3.poster}}" alt="image" class="img-responsive" />
                    <div class="portfolio_item_hover">
                        <div class="portfolio-border clearfix">
                            <div class="item_info">
                                <span>{{movies.3.title}}</span>
                                <em>{{movies.3.released}}</em>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end No.4 -->

            <!-- No.1 -->
            <div class="col-md-6 col-sm-12 photography" style="overflow: hidden">
                <a href="{% url 'movies:country_detail' country=country rank=movies.0.rank %}" class="portfolio_item">
                    <img style="width: 100%;" src="{{movies.0.poster}}" alt="image" class="img-responsive" />
                    <div class="portfolio_item_hover">
                        <div class="portfolio-border clearfix">
                            <div class="item_info">
                                <span>{{movies.0.title}}</span>
                                <em>{{movies.0.released}}</em>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end No.1 -->

            <!-- No.5 -->
            <div class="col-md-3 col-sm-6 fashion ads">
                <a href="{% url 'movies:country_detail' country=country rank=movies.4.rank %}" class="portfolio_item">
                    <img style='width: 100%;' src="{{movies.4.poster}}" alt="image" class="img-responsive" />
                    <div class="portfolio_item_hover">
                        <div class="portfolio-border clearfix">
                            <div class="item_info">
                                <span>{{movies.4.title}}</span>
                                <em>{{movies.4.released}}</em>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end No.5 -->

            <!-- No.6 -->
            <div class="col-md-3 col-sm-6 graphics ads">
                <a href="{% url 'movies:country_detail' country=country rank=movies.5.rank %}" class="portfolio_item">
                    <img style='width: 100%;' src="{{movies.5.poster}}" alt="image" class="img-responsive" />
                    <div class="portfolio_item_hover">
                        <div class="portfolio-border clearfix">
                            <div class="item_info">
                                <span>{{movies.5.title}}</span>
                                <em>{{movies.5.released}}</em>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end No.6 -->

            <!-- No.2 -->
            <div class="col-md-6 col-sm-12 photography">
                <a href="{% url 'movies:country_detail' country=country rank=movies.1.rank %}" class="portfolio_item">
                    <img style='width: 100%;' src="{{movies.1.poster}}" alt="image" class="img-responsive" />
                    <div class="portfolio_item_hover">
                        <div class="portfolio-border clearfix">
                            <div class="item_info">
                                <span>{{movies.1.title}}</span>
                                <em>{{movies.1.released}}</em>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end No.2 -->

            <!-- No.7 -->
            <div class="col-md-3 col-sm-6 graphics ads">
                <a href="{% url 'movies:country_detail' country=country rank=movies.6.rank %}" class="portfolio_item">
                    <img style='width: 100%;' src="{{movies.6.poster}}" alt="image" class="img-responsive" />
                    <div class="portfolio_item_hover">
                        <div class="portfolio-border clearfix">
                            <div class="item_info">
                                <span>{{movies.6.title}}</span>
                                <em>{{movies.6.released}}</em>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end No.7 -->

            <!-- No.8 -->
            <div class="col-md-3 col-sm-6 graphics ads">
                <a href="{% url 'movies:country_detail' country=country rank=movies.7.rank %}" class="portfolio_item">
                    <img style='width: 100%;' src="{{movies.7.poster}}" alt="image" class="img-responsive" />
                    <div class="portfolio_item_hover">
                        <div class="portfolio-border clearfix">
                            <div class="item_info">
                                <span>{{movies.7.title}}</span>
                                <em>{{movies.7.released}}</em>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end No.8 -->

            <!-- No.9 -->
            <div class="col-md-3 col-sm-6 graphics ads">
                <a href="{% url 'movies:country_detail' country=country rank=movies.8.rank %}" class="portfolio_item">
                    <img style='width: 100%;' src="{{movies.8.poster}}" alt="image" class="img-responsive" />
                    <div class="portfolio_item_hover">
                        <div class="portfolio-border clearfix">
                            <div class="item_info">
                                <span>{{movies.8.title}}</span>
                                <em>{{movies.8.released}}</em>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end No.9 -->

            <!-- No.10 -->
            <div class="col-md-3 col-sm-6 graphics ads">
                <a href="{% url 'movies:country_detail' country=country rank=movies.9.rank %}" class="portfolio_item">
                    <img style='width: 100%;' src="{{movies.9.poster}}" alt="image" class="img-responsive" />
                    <div class="portfolio_item_hover">
                        <div class="portfolio-border clearfix">
                            <div class="item_info">
                                <span>{{movies.9.title}}</span>
                                <em>{{movies.9.released}}</em>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end No.10 -->
        </div>
        <!-- end portfolio_container -->
    </div>
    <!-- portfolio -->
</div>
<!-- end portfolio div -->

{% endblock %}