{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    {% include 'nav.html' %}
</div>

<!-- top-bar -->
<div class="top-bar">
    <h1>Select Any Country</h1>
</div>
<!-- end top-bar -->

<!-- portfolio div -->
<div class="container">
  <div class="portfolio-div">
      <div class="portfolio">
          <div class="no-padding portfolio_container">
              <!-- United States -->
              <div class="col-md-4 col-sm-6 white-border fashion logo">
                  <a href="{% url 'movies:country_boxoffice' countries.us.0 %}" class="portfolio_item">
                      <img width=100% src="http://cdn.countryflags.com/thumbs/united-states-of-america/flag-square-500.png" alt="image" class="img-responsive" />
                      <div class="portfolio_item_hover">
                          <div class="portfolio-border clearfix">
                              <div class="item_info">
                                  <span>United States</span>
                                  <!-- <em>{{movies.2.released}}</em> -->
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <!-- end United States -->

              <!-- United Kingdom -->
              <div class="col-md-4 col-sm-6 white-border fashion logo">
                  <a href="{% url 'movies:country_boxoffice' countries.uk.0 %}" class="portfolio_item">
                      <img width=100% src="https://cdn.countryflags.com/thumbs/united-kingdom/flag-square-500.png" alt="image" class="img-responsive" />
                      <div class="portfolio_item_hover">
                          <div class="portfolio-border clearfix">
                              <div class="item_info">
                                  <span>United Kingdom</span>
                                  <!-- <em>{{movies.2.released}}</em> -->
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <!-- end United Kingdom -->

              <!-- France -->
              <div class="col-md-4 col-sm-6 white-border fashion logo">
                  <a href="{% url 'movies:country_boxoffice' countries.fr.0 %}" class="portfolio_item">
                      <img width=100% src="https://cdn.countryflags.com/thumbs/france/flag-square-500.png" alt="image" class="img-responsive" />
                      <div class="portfolio_item_hover">
                          <div class="portfolio-border clearfix">
                              <div class="item_info">
                                  <span>France</span>
                                  <!-- <em>{{movies.2.released}}</em> -->
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <!-- end France -->

              <!-- Australia -->
              <div class="col-md-4 col-sm-6 white-border fashion logo">
                  <a href="{% url 'movies:country_boxoffice' countries.au.0 %}" class="portfolio_item">
                      <img width=100% src="https://cdn.countryflags.com/thumbs/australia/flag-square-500.png" alt="image" class="img-responsive" />
                      <div class="portfolio_item_hover">
                          <div class="portfolio-border clearfix">
                              <div class="item_info">
                                  <span>Australia</span>
                                  <!-- <em>{{movies.2.released}}</em> -->
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <!-- end Australia -->

              <!-- Brazil -->
              <div class="col-md-4 col-sm-6 white-border fashion logo">
                  <a href="{% url 'movies:country_boxoffice' countries.br.0 %}" class="portfolio_item">
                      <img width=100% src="https://cdn.countryflags.com/thumbs/brazil/flag-square-500.png" alt="image" class="img-responsive" />
                      <div class="portfolio_item_hover">
                          <div class="portfolio-border clearfix">
                              <div class="item_info">
                                  <span>Brazil</span>
                                  <!-- <em></em> -->
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <!-- end Brazil -->

              <!-- Mexico -->
              <div class="col-md-4 col-sm-6 white-border fashion logo">
                  <a href="{% url 'movies:country_boxoffice' countries.mx.0 %}" class="portfolio_item">
                      <img width=100% src="https://cdn.countryflags.com/thumbs/mexico/flag-square-500.png" alt="image" class="img-responsive" />
                      <div class="portfolio_item_hover">
                          <div class="portfolio-border clearfix">
                              <div class="item_info">
                                <span>Mexico</span>
                                <!-- <em></em> -->
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <!-- end Mexico -->

              <!-- Scheduled -->
              <div class="col-md-4 col-sm-6 white-border fashion logo">
                  <a href="" class="portfolio_item">
                      <img src="https://i.pinimg.com/originals/b1/30/bc/b130bcaf14e3033762c8232b89549b1d.jpg" alt="image" class="img-responsive" />
                      <div class="portfolio_item_hover">
                          <div class="portfolio-border clearfix">
                              <div class="item_info">
                                <span>Coming Soon</span>
                                <em></em>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <!-- end Scheduled -->
          </div>
          <!-- end portfolio_container -->
      </div>
      <!-- portfolio -->
  </div>
  <!-- end portfolio div -->
</div>
{% endblock %}