{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
    <!-- nav -->
    {% include 'nav.html' %}
    <!-- end nav -->

    <!-- box-intro -->
    <section class="box-intro">
        <div class="table-cell">
            <h1 class="box-headline letters rotate-2">
                <span class="box-words-wrapper text-center">
                    <b class="is-visible">Best&nbsp;Movies</b>
                    <b>&nbsp; and </b>
                    <b>Chill&nbsp;Netflix</b>
                </span>
            </h1>
            <h5>What's next?</h5>
        </div>

        <div class="mouse">
            <div class="scroll"></div>
        </div>
    </section>
    <!-- end box-intro -->
</div>

<!-- portfolio div -->
<div class="portfolio-div">
    <div class="portfolio">
        <div class="no-padding portfolio_container">
          <!-- Movies -->
          <div class="col-md-6 col-sm-12 photography">
              <a href="{% url 'movies:country_list' %}" class="portfolio_item">
                  <img style="width: 100%;" src="https://trello-attachments.s3.amazonaws.com/5cdd02c788550b2dcd8b7cc0/773x773/9a94cf288269e351fc94115b5005f7ec/21stcenturyfox.png" alt="image" class="img-responsive" />
                  <div class="portfolio_item_hover">
                      <div class="portfolio-border clearfix">
                          <div class="item_info">
                              <span>Country's Box Office</span>
                              <em>18th week 2019</em>
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <!-- end Movies -->
          <!-- Netflix -->
          <div class="col-md-6 col-sm-12 photography" style="overflow: hidden">
              <a href="{% url 'netflix_list' %}" class="portfolio_item">
                  <img style="width: 100%;" src="https://upload.wikimedia.org/wikipedia/commons/f/ff/Netflix-new-icon.png" alt="image" class="img-responsive" />
                  <div class="portfolio_item_hover">
                      <div class="portfolio-border clearfix">
                          <div class="item_info">
                              <span>Netflix and Chill</span>
                              <em>May 2019</em>
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <!-- end Netflix -->
        </div>
        <!-- end portfolio_container -->
    </div>
    <!-- portfolio -->
</div>
<!-- end portfolio div -->
{% endblock%}