{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
  {% include 'nav.html' %}
</div>

<!-- box-intro -->
<section class="box-intro">
    <div class="table-cell" style='padding-top: 20%; vertical-align: baseline;'>
        <h1 class="box-headline letters rotate-2" style='font-size: 100px;'>
            <span class="box-words-wrapper">
                <b class="is-visible">'I&nbsp;NEED&nbsp;TO&nbsp;STOP' </b>
                <b>I&nbsp;WHISPERED&nbsp;TO&nbsp;MYSELF, </b>
                <b>AS&nbsp;I&nbsp;CLICKED&nbsp;NEXT&nbsp;EPISODE. </b>
            </span>
        </h1>
    </div>

    <div class="mouse">
        <div class="scroll"></div>
    </div>
</section>
<!-- end box-intro -->

<!-- portfolio div -->
<div class="portfolio-div" style='background-color: #151313'>
    <div class="portfolio">
        <div class="no-padding portfolio_container">
            {% for series in serieses %}
            <!-- United States -->
            <div class="col-md-3 col-sm-4 col-xs-6 fashion logo">
                <a href="{% url 'netflix_detail' rank=series.rank %}" class="portfolio_item">
                    <img width=100% src="{{series.thumbnail}}" alt="image" class="img-responsive" />
                    <div class="portfolio_item_hover">
                        <div class="portfolio-border clearfix">
                            <div class="item_info">
                                <span>{{series.title}}</span>
                                <!-- <em>{{movies.2.released}}</em> -->
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end United States -->
            {% endfor %}
        </div>
        <!-- end portfolio_container -->
    </div>
    <!-- portfolio -->
</div>
<!-- end portfolio div -->
{% endblock %}